<head>
	<meta charset="utf-8">
	<meta property="og:image" content="https://secure.gravatar.com/avatar/{{ site.image-url }}?s=100" />
	<meta property="og:title" content="{{ site.theme_settings.title }}" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  	<meta property="og:site_name" content="{{ site.theme_settings.site_name }}">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_settings.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme_settings.title }}</title>
	

	<!-- CSS -->
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

	<!--Favicon-->
	<link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.theme_settings.favicon }}" type="image/x-icon">

	<!--Apple icon app-->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{'/assets/apple-icon-57x57.png' | relative_url}}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{'/assets/apple-icon-72x72.png' | relative_url}}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{'/assets/apple-icon-114x114.png' | relative_url}}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{'/assets/apple-icon-144x144.png' | relative_url}}">

	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme_settings.title }}" href="{{ '/feed.xml' | relative_url }}" />

	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Google Fonts -->
	{% if site.theme_settings.google_fonts %}
	<link href="//fonts.googleapis.com/css?family={{ site.theme_settings.google_fonts }}" rel="stylesheet" type="text/css">
	{% endif %}

	<!-- KaTeX -->
	{% if site.theme_settings.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js"></script>
	{% endif %}

	<!-- Google Analytics -->
	{% if site.theme_settings.google_analytics %}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.theme_settings.google_analytics }}', 'auto');
	ga('send', 'pageview');
	</script>
	{% endif %}
</head>
