// Header text feature
.call-out {
  font-family: 'Josefin Sans', sans-serif;
  padding: 6rem 0;
  width: 100%;
  background-color: $brand-color;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
  color: $header-desc-text-color;
  @include box-shadow-headers;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.5rem;
    padding: 4rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 1.75rem;
  }
}

.call-out p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: inherit;

  @media only screen and (max-width: $bp-medium) {
    width: 90%;
  }
}

.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color;
}
// Post listing
.posts {
  .post-teaser {
    padding: 1rem;
    width: 100%;
    margin-bottom: 0;
    border-radius: 5px;
    background-size: $feature-image-size;
    border: 1px solid $link-color;
    // @include box-shadow-card;
    transition: all 0.2s;
    position: relative;
    background-color: $background-color;

    &:hover {
      transform: translate(-5px, -5px);

      @media only screen and (max-width: $bp-large) {
        transform: translateY(-5px);
      }
    }
  }

  p a {
    @extend .body-link;
  }

  .code {
    @extend .post-teaser;
  }

  .excerpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.3rem;
    margin-bottom: 0;
    height: 87%;
  }

  // SVG ICONS IN CARD
  .svg {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  $codes: (
    h: #e34f26, // html
    c: #1572b6, // css
    j: #f7df1e, // js
    n: #47a248, // node
    p: #3776ab, // python
  );

  @each $class, $code in $codes {
    .#{$class} {
      @extend .post-teaser;
      border: 1px solid $code;
      @include box-shadow-card($code);    
    }
  }

}

// Pagination
.pagination .button {
  margin: 0 1.5rem;
  i {
    vertical-align: middle;
  }
}

.pagination {
  text-align: center;
}
