// Buttons
.button {
  border-radius: 5px;
  border: 1px solid;
  display: block;
  margin: 1rem 0;
  padding: 1.25rem 2.15rem;
  transition: all .2s;
  font-size: 1.75rem;
  transition: .2s;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  

  .button-tag {
    @extend .button;
    display: inline-block;
    padding: .3rem .5rem;
    font-size: 1.5rem;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
  
$codes: (
    h: #e34f26, // html
    c: #1572b6, // css
    j: #f7df1e, // js
    n: #47a248, // node
    p: #3776ab, // python
  );

@each $class, $code in $codes {
  .#{$class} {
    .button-link {
      border: 1px solid $code;
      color: $code;
      &:hover {
        background: $code;
        border: 1px solid $code;
        color: $background-color;
        text-decoration: none;
      }
    }
    h1,h2,h3,h4 {
      color: $code;
    }
    a {
      color: $code;
      &:hover {
        background-color: $code;
        color: $background-color;
      }
    }
    strong {color: darken($code, 20%);}
    blockquote {border-left: .3rem solid $code;}
    
    @media only screen and (max-width: $bp-medium) {
      .button-link {
        border: 1px solid $code;
        background-color: $code;
        color: $background-color;

        &:hover {
          background-color: lighten($color: $code, $amount: 5%);
        }
      }
    }
  }
}

a.button-tag {
  @extend .button-link;
}

a.button {
  @extend .button-link;
}

.body-link {
  transition: all .3s;
  &:hover {
    color: darken($color: $link-color, $amount: 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}