// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@font-face {
  font-family: "InputMonoNarrow ExLight";
  src: url('../../assets/fonts/InputMonoNarrow-ExtraLight.ttf');
}


// Typography
$font-family-title: 'Press Start 2P', cursive;
$font-family-main: 'Roboto', sans-serif;
$font-family-headings: 'Roboto', sans-serif;

$font-size: 1.25rem;

// Brand colours
$brand-color: #045A8D;
$background-color: #ffffff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #74A9CF;
$selection-color: #3690C0; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Feature image for article
$feature-image-text-color: #fff;
$feature-image-size: contain no-repeat; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #FFF;
$header-desc-text-color: #FFF;
$header-desc-link-color: #FFF;

// SVG LANGUAGES
$colors: (
    html: #e34f26,
    css: #1572b6,
    js: #f7df1e,
    bs: #563d7c,
    sass: #cc6699,
    node: #47a248,
    jq: #0769ad,
    mongodb: #339933,
    python: #3776ab,
    git: #f05032,
    django: #092e20
  );

  
  @each $class, $color in $colors {
    .#{$class} {
      background-color: #fff;
      fill: $color;
      // stroke: $color;
    }
  }

  // BREAKPOINTS
$bp-largest: 75em;          // 1200px/16 = 75em
$bp-large: 68.75em;         // 1101/16 = 68.8125em
$bp-medium: 56.25em;        // 900/16 = 56.25em
$bp-small: 37.5em;          // 600/16 = 37.5em
$bp-smallest: 31.25em;      // 500/16 = 31.25em
$bp-smallest-sm: 25em;      // 400/16 = 25em
$bp-smallest-sm-sm: 20em;      // 320/16 = 20em
